# Pandas

In [70]:
import pandas as pd
import numpy as np

In [4]:
pd.__version__

'2.3.2'

### 1. Introduction into Pandas

In [31]:
# Series

a = pd.Series([11, 28, 72, 3, 5, 8])
b_1 = ['apples', 'oranges', 'cherries', 'pears']
b_2 = ['apples', 'oranges', 'cherries', 'portakal']
c = pd.Series([1,2,3,4], index=b_1)
d = pd.Series([11,12,13,14], index=b_2)

print(a.index, "\n")
print(a.values, "\n")
print(c, "\n")
print(c + d)

RangeIndex(start=0, stop=6, step=1)

[11 28 72  3  5  8]

apples      1
oranges     2
cherries    3
pears       4
dtype: int64

apples      12.0
cherries    16.0
oranges     14.0
pears        NaN
portakal     NaN
dtype: float64

In [71]:
# Indexing

a = pd.Series([1,2,3,4], index=b_1)
print(a['apples'], "\n")
print(a[['apples', 'oranges', 'cherries']], "\n")
print((a + 3) * 4 , "\n")
print(np.sin(a))

1

apples      1
oranges     2
cherries    3
dtype: int64

apples      16
oranges     20
cherries    24
pears       28
dtype: int64

apples      0.841471
oranges     0.909297
cherries    0.141120
pears      -0.756802
dtype: float64

In [80]:
# pandas.Series.apply

print( a.apply( np.log ), "\n" )
print( a.apply( lambda x: x if x > 50 else x + 10 ) )

apples      0.000000
oranges     0.693147
cherries    1.098612
pears       1.386294
dtype: float64

apples      11
oranges     12
cherries    13
pears       14
dtype: int64

In [97]:
# Filtering with a Boolean array

print( a[ a>2 ] )
print( "apples" in a )

cherries    3
pears       4
dtype: int64
True

In [99]:
# Creating Series Objects from Dictionaries

cities = {"London":    8615246, 
          "Berlin":    3562166, 
          "Madrid":    3165235,
          "Budapest":  1754000,
          "Warsaw":    1740119,
          "Barcelona": 1602386,
          "Munich":    1493900,
          "Milan":     1350680}

city_series = pd.Series(cities)
print(city_series)

London       8615246
Berlin       3562166
Madrid       3165235
Budapest     1754000
Warsaw       1740119
Barcelona    1602386
Munich       1493900
Milan        1350680
dtype: int64

In [112]:
# NaN - Missing Data, The Methods isnull() and notnull()

my_cities = ["London", "Paris", "Zurich", "Berlin", "Stuttgart", "Hamburg"]
my_city_series = pd.Series(cities, index=my_cities)
print( my_city_series, "\n" )
print( my_city_series.isnull(), "\n" )
print( my_city_series.notnull() )

London       8615246.0
Paris              NaN
Zurich             NaN
Berlin       3562166.0
Stuttgart          NaN
Hamburg            NaN
dtype: float64

London       False
Paris         True
Zurich        True
Berlin       False
Stuttgart     True
Hamburg       True
dtype: bool

London        True
Paris        False
Zurich       False
Berlin        True
Stuttgart    False
Hamburg      False
dtype: bool

In [124]:
# Filtering out Missing Data

print( my_city_series, "\n")
print( my_city_series.dropna(), "\n" )
print( my_city_series.fillna(0), "\n" )
print( my_city_series.fillna( {"Stuttgart":597939, "Zurich":378884} ).fillna(0) )

London       8615246.0
Paris              NaN
Zurich             NaN
Berlin       3562166.0
Stuttgart          NaN
Hamburg            NaN
dtype: float64

London    8615246.0
Berlin    3562166.0
dtype: float64

London       8615246.0
Paris              0.0
Zurich             0.0
Berlin       3562166.0
Stuttgart          0.0
Hamburg            0.0
dtype: float64

London       8615246.0
Paris              0.0
Zurich        378884.0
Berlin       3562166.0
Stuttgart     597939.0
Hamburg            0.0
dtype: float64